<div class="jumbotron">
   <div class="container mx-5 my-2">
        <h2> Property Binding</h2>
        <h3 [innerHTML]="hoteName"></h3>
        <p>Nous avons visité l'hotel : {{ hoteName }} de {{ hotelLocations}}.
            C'est un hotel {{ hoteStars}} étoile(s). <br>
        
         Maintenant, il existe {{ GetNombreResidents() }} visiteur(s).
        </p>
   </div>
   <div class="container mx-5">
       <h2> Event Binding</h2>
       <h3>{{ hotelName }}</h3>
       <p>{{ Message }}</p>
       <button [disabled]="isReserved" (click)="OnReserver()" class="btn btn-success">Réserver</button>
   
   </div>
   <div class="container mx-5">
        <h2> $Event </h2>
        <h3>Veuillez saisir votre nom: </h3>
        <input type="text" class="form-control" (input)="OnEcrirNom($event)">
        <p> Vous avez tapez: <span style="color:blue">{{NomClient}}</span></p>
    </div>
</div>